body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
.text-pink {
    color: #F55B64 !important;
  }
.navbar {
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
   }
.card {
    border-radius: 4px;
    border: 1px solid #ddd;
    background: white;
   }
.btn-primary-rh {
    background-color: #007bff;
    color: white; border: none;
    border-radius: 4px;
    padding: 8px 20px; }