{% extends "base.html" %}
{% block conteudo %}
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card p-5 h-100">
            <h4 class="font-weight-bold">Cadastrar Funcionário</h4>
            <p>Cadastre aqui um novo <span class="text-pink">Funcionário</span>.</p>
            <a href="{% url 'website:cadastra_funcionario' %}" class="btn btn-primary-rh mt-auto align-self-start">Novo Funcionário</a>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card p-5 h-100">
            <h4 class="font-weight-bold">Lista de Funcionários</h4>
            <p>Veja aqui a lista de <span class="text-pink">Funcionários</span> cadastrados.</p>
            <a href="{% url 'website:lista_funcionarios' %}" class="btn btn-primary-rh mt-auto align-self-start">Vá para Lista</a>
        </div>
    </div>
</div>
{% endblock %}